
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#032b3a] text-[#f49996];
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
